$primary-color: c6538c;

.custom-radio-group .custom-radio-button .mat-radio-inner-circle {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="%23#{$primary-color}"%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3Cpath d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/%3E%3C/svg%3E');
  background-color: transparent !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.mat-radio-checked .mat-radio-outer-circle {
  display: none;
}

.mat-radio-checked .mat-radio-inner-circle {
  transform: scale(1) !important;
}

.mat-radio-label-content {
  font-weight: 400;
  opacity: 0.5;
}

.mat-radio-checked .mat-radio-label-content {
  font-weight: 500;
  opacity: 1;
  color: ##{$primary-color};
}
